/* Setting up variables for ease of future maintenance */
:root {
  --bg-primary: hsl(0, 0%, 10%);
  --accent-color: hsl(360, 81%, 50%);
  --text-primary: #f9fbfd;
  --bg-secondary: hsl(206, 17%, 58%);
  --outer-space: #33393f;
  --bright-turquoise: #2aefcb;
  --gin: #e0eae4;
  --heliotrope: #e866ec;  
}

/* set 1rem to 10px instead of native 16px 
to make it easier to calculate font-size values 
for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
html {
  font-size: 62.5%;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  min-width: 96%;
  text-rendering: optimizeSpeed;
  font-size: 1.75rem;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

/* Main Style starts here */
header {
  padding: 2.5rem;
  text-align: center;
  background-color: var(--bg-secondary);
  margin-bottom: 2rem;
  font-weight: 600;
}

.main-header:hover {
  font-style: italic;
  font-size: larger;
}

#high-score {
  cursor: pointer;
}

main {
  text-align: center;
}

#quiz-container {
  justify-content: center;
  max-width: 60%;
  margin: 0 auto;
}

.show-target {
  visibility: visible;
}

.hide-target {
  visibility: hidden;
}

/* li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: var(--bright-turquoise);
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
  text-align: left;
}

button {
  min-width: 100%;
  background-color: var(--bright-turquoise);
  border: none;
} */

/* using a mobile-first approach, */
/* Set point for tablet screens */
@media screen and (min-width: 768px) {
  header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 4rem;
    font-size: 2rem;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    font-size: 2.5rem;
  }
}
